body {
    background-color: #674baf;
    margin: 40px 80px;
}

.logo {
    width: 200px;
    height: 150px;
}

.main-div {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

h1 {
    margin-top: 45px;
    font-size: 38px;
    line-height: 1.5;
    font-weight: 400;  
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
}

button {
    width: 200px;
    height: 55px;
    color: #674baf;
    font-size: 16px;
    border: 1px solid #674baf;
    border-radius: 50px;
    margin-top: 20px;
}

footer {
    display: flex;
    justify-content: flex-end;
    color: #ffffff;
}

footer i {
    border-radius: 50px;
    border: 1px solid #ffffff;
    margin-left: 25px;
    padding: 15px;
}



@media only screen and (max-width: 375px) {
    .logo {
        width: 150px;
        height: 80px;
    }
    .main-img {
        width: 200px;
        height: 150px;
    }
    .main-div {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }

    h1{
        font-size: 15px;
        font-weight: 600;
        margin-top: 25px;
    }

    p {
        font-size: 12px;
    }

    button {
        width: 150px;
        height: 45px;
    }

    footer {
        justify-content: center;
        margin-top: 55px;
    }

    footer i {
        padding: 10px;
    }
  }

